.header{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 10px;

}

h1{
    display: block;
}
ul{
    margin-right: 30px;
    padding: -80px;
}
li{
    color: rgb(91, 91, 91);
    display: inline;
}
li:hover{
    color: blue;
    cursor: pointer;
}


.product{
    padding: 20px;
    background-color: aliceblue;
    text-align: center;
}
img{
    width: 220px;
    height: 420px;
}
.box{
    width: 220px;
    border: 4px;
    border-style: solid;
    display: inline-block;
}

h2{
    background-color: black;
    color: aliceblue;
    display: inline;
    padding: 10px;
}
h2:hover{
    color: black;
    background-color: red;
    border: 7px;
}



.contact{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 20px;
}
table{
    display:inline-block
}
.send{
    color: black;
    background-color: rgb(255, 0, 0);
    width: 30%;
    display: block;
    margin-left: 35%;
}
.send:hover{
    color: aliceblue;
    background-color: rgb(43, 0, 255);
    cursor: pointer;
}



